#chart-body {
    max-width: 160rem;
    min-width: 130rem;
    /* width: auto; */
    height: auto;
    /* max-height: fit-content; */
    background-color: #dfdfdf;
    font-family: 'Barlow', sans-serif;
    margin: auto;
}

#chart-content {
    background-color: #FFFFFF;
    width: auto;
    min-width: 95rem;
    max-width: 95rem;
    /* contain: initial; */
    height: auto;
    padding-left: 5rem;
    padding-top: 3.5rem;
    padding-right: 5rem;
    
}
.log-text {
    text-align: end;
    font-size: 2rem;
    padding-right: 5rem;
    margin-top: -1.5rem;
    font-weight: bold;
}
.chart-header {
    color: #636262;
    font-size: 5rem;
}

#chart-rankbox {
    margin-left: 9.5rem;
    margin-top: 2.5rem;
    margin-right: 2.6rem;
    height: fit-content;
    padding-bottom: 30px;
    width: 65rem;
    
}

.chart-number {
    font-size: 3.5rem;
    color: #a09e9e;
}

.chart-playicon {
    font-size: 3.5rem;
    text-align: center;
    color: #a9a9a9;
    margin: auto;
}

.chart-namesong {
    font-size: 1.85rem;
    color: #707070;
    margin: auto;
}

.addicon {
    font-size: 3.5rem;
    color: #707070;
    margin: auto;
    text-align: center;
    margin-top: 0rem;

}

.chart-playicon:hover {
    opacity: 0.7;
    color: #98ce1a;
}

.addicon:hover {
    opacity: 0.7;
    color: black
    
}

.chart-favicon {
    color: #a9a9a9;
    font-size: 3.5rem;
    /* margin: auto; */
    text-align: center;
}

.chart-favicon:hover {
    opacity: 0.7;
    color: #fe7f7f;
}

#banner{
   /* min-width: 120rem; */
    /* max-width: 120rem; */
    height: 13rem;
    /* width: auto; */
    align-content: start;
    background: url(../static/image/ataulfomangoes.jpg);
    background-size: cover;
    opacity: 0.9;
    margin-bottom: 0rem;
    display: inherit;
}

#mango-logo{
    height: 11rem;
    width: auto;
    margin: auto;
}

#search{
    margin-top: 30px;
}


#inbanner{
    align-self: center;
}
#searchingbox{
    width: 40rem;
    height: 4rem;
    margin-top: 3.5rem;
    font-size: 2rem;
}

#searchingbutton{
    height: 3.8rem;
    margin-top: 3.6rem;
    font-size: 1.25rem;
}

#user-icon {
    font-size: 3.5rem;
    margin: 2rem;
    color: #070707;
}

.log-icon {
    font-size: 3.5rem;
    margin: 2rem;
    color: #070707;
}

#login-icon:hover {
    color: #98ce1a;
}

#logout-icon:hover {
    color: #fe7f7f;
}

#user-column {
    margin: auto;
    margin-top: 1.6rem;
}

#user-name{
    font-size: 2.8rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

#user-icon:hover {
    opacity: 0.7;
}


