.playlist-page{
    font-family: 'Barlow', sans-serif;
    width: auto;
    max-width: 1920px;
    max-height: fit-content;
    min-width: fit-content;
}

#playlist-content {
    margin: auto;
    padding-top: 10rem;
}

#playlist-header {
    font-size: 3.5rem;
    color: white;
    margin-left: 1rem;
}
.playlist-list {
    padding-left: 0rem;
}

.playlist-item {
    display:flex;
}
.playlist-image {
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
}

.playlist-artist {
    font-size: 2rem;
    color: white;
    align-self: center;
    text-align: left;
    padding-left: 0rem;
}

.remove-icon {
    color: white;
    font-size: 4rem;
    align-self: center;
    text-align: center;
    margin-right: -1rem;
}

.playlist-table-header {
    color: white;
    font-size: 2.5rem;
    opacity: 0.7;
    margin-left: 1rem;
}

.remove-icon:hover {
    color: crimson;
}

.playlist-play {
    text-align: center;
    margin-right: -1.5rem;
    font-size: 3rem;
}

.play-header {
    text-align: end;
}

.remove-header {
    text-align: center;
}

.playlist-title {
    padding-left: 3.5rem;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


#box{
    margin-left: 150px;
    margin-top: 40px;
    margin-right: 50px;
    width: 1030px;
    height: auto;
    padding-bottom: 30px;
}

#head{margin-bottom: 65px;
    margin-top: 30px;
}

#title{
        font-size: 50px;
}

#playbutton{
    font-size: 60px;
    margin-left: 80px;
    margin-right: 100px;
}

#playbutton:hover {
    opacity: 0.7;
}

#pic{
    width: 160px;
    height: 160px;
    margin-right: 150px;
}

#songname{
    font-size: 40px;
}

