<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/playlist.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Playlist</title>
</head>
<body class="playlist-page">
        <nav class="navbar navbar-light bg-light" id="banner">
                <div class="row">
                    <div class="col-3">
                            <img src="../static/image/mangologo.png" id="mango-logo" height="80" width=auto;>
                    </div>
                    <div class="col-6 ">
                            <form class="form-inline">
                                    <div class="form-group">
                                            <div class="input-group mb-3" id="searcing">
                                                    <input type="text" class="form-control" placeholder="searching...." aria-label="Recipient's username" aria-describedby="button-addon2" id="searchingbox">
                                                    <div class="input-group-append">
                                                            <button type="button" class="btn btn-dark" id="searchingbutton"> Click! </button>
                                                    </div>
                                                  </div>
                                    </div>
                                  </form>
                    </div>
                <div class="col-3">
                    <div class="form-group mb-3"></div>
                        <a id="user-name">USER NAME</a>
                        <i class="fas fa-user " id="user-icon"><a href="http://"></a></i>
                        <i class="fas fa-power-off " id="user-icon"><a href="http://"></a></i>
                    </div>
                </div>
            </div>
            </nav>
            <div class="row">
                <div class="col-2" id="greybg">
                </div>
                <div class="col-8">            
                    <div class="container" id="head">
                    <a class="head" id="title">Playlist</a>
                    </div>
                    <div class="row" id="playlistlist">
                        <div class="formgroup">
                                <i class="fas fa-play-circle" id="playbutton"></i>
                                <img src="../static/image/test1.jpg" id="pic">
                                <a id="songname">La vie en rose</a>
                        </div>
                    </div>
                    <br>

                    <div class="row" id="playlistlist">
                            <div class="formgroup">
                                    <i class="fas fa-play-circle" id="playbutton"></i>
                                    <img src="../static/image/test1.jpg" id="pic">
                                    <a id="songname">La vie en rose</a>
                            </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="../static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="../static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                    </div>
                    <br>

                    <div class="row" id="playlistlist">
                            <div class="formgroup">
                                    <i class="fas fa-play-circle" id="playbutton"></i>
                                    <img src="../static/image/test1.jpg" id="pic">
                                    <a id="songname">La vie en rose</a>
                            </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="../static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                        </div>
                        <br>
                </div>
                <div class="col-2" id="greybg">
                </div>
            </div>

    
</body>
</html>