{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}

<title>{{ title }}</title>

<body style="background-color:whitesmoke">
    <div>.</div>
    <div align="center" style="margin-top: 10%;">
        <h1>
            <font>{{ title }}</font>
        </h1>
        <div>
            <canvas id="genre_chart" width="700" height="400"></canvas>
            <br>
            <canvas id="artist_chart" width="1000" height="500"></canvas>
        </div>
    </div>

    <script>
        // bar chart data
        var genrebarData = {
            labels: [
                {% for item in genre_labels %}
                "{{ item }}",
                {% endfor %}
            ],
            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data: [
                    {% for item in genre_values %}
                        "{{ item }}",
                    {% endfor %}
                ],
            }]
            
        };
        // get bar chart canvas
        var genrechart = document.getElementById("genre_chart").getContext("2d");

        steps = 10;
        max = {{ genre_max }}

        // draw bar chart
        new Chart(genrechart).Bar(genrebarData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
        }
        );

        var artistbarData = {
            labels: [
                {% for item in artist_labels %}
        "{{ item }}",
            {% endfor %}
            ],

        datasets: [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data: [
                {% for item in artist_values %}
                        "{{ item }}",
        {% endfor %}
        ]
            }
            ]
        };

        // get bar chart canvas
        var artistchart = document.getElementById("artist_chart").getContext("2d");

        steps = 10;
        max = {{ artist_max }}

        // draw bar chart
        new Chart(artistchart).Bar(artistbarData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
        });

    </script>
</body>
{% endblock %}