{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
    <title>Search results</title>

    <body>

    <div class="container" id="display-content">
        {% if searching %}
            <h1 id="result-header">
                Results:
                <div id="searched-words">
                    {{ searching }}
                </div>
            </h1>
        {% endif %}

        <hr class="line">
        {% if data %}
            <div>

                <div class="row result-table-header">
                    <div class="col-1 result-album-header ">Albums</div>
                    <div class="col-2 result-play-header">Play music</div>
                    <div class="col-2 result-title-header">
                        Title
                    </div>
                    <div class="col-3 result-artist-header">Artist</div>
                    <div class="col-2 result-fav-header">Favourite</div>
                    <div class="col-1 result-like-header">Likes
                    </div>
                </div>
                <br>

                {% for i in data %}
                    <ul class="result-list">
                        <li class="result-item">
                        <li class="row playlist-item">
                            <div class="col-1">
                                <img src="{{ i['url_img'] }}" class="result-image" alt="">
                            </div>
                            <div class="col-1 chart-playicon result-play"><a href="{{i['music_url']}}" target="_blank"><i
                                    class="fas fa-play play-icon2"></i></a></div>
                            <div class="col-2 chart-namesong">
                                <form action="{{ url_for('song_detail') }}" method="POST">
                                    <input type="hidden" name="name" value="{{ i['track_name'] }}"></input>
                                    <input class="chart-namesong submit namesong-submit" type="submit" value="{{ i['track_name'] }}"></input>
                                </form>
                            </div>
                            <div class="col-3 result-artist">{{ i['artist_name'] }}</div>
                            {% if i['track_name'] in fav %}
                                <div class="col-1 checkicon"><i class="fas fa-check"></i></div>
                            {% else %}
                                <div class="col-1 addicon">
                                    <form action="{{ url_for('fav')}}"  method="POST">
                                        <input type="hidden" name="name" value="{{i['track_name']}}">
                                        <input type="hidden" name="search" value="{{searching}}">
                                        <button type="submit"  class="fas fa-plus submit"></button>
                                    </form>
                                </div>
                            {% endif %} 
                           
                            {% if i['track_name'] in like %}
                                <div class="col-2 likeicon" ><i class="fas fa-heart heart-fav"></i>
                                    <div class="num-likes"> {{i['num_favourite']}} </div>
                                </div>
                                
                            {% else %}
                                <div class="col-2 chart-favicon">
                                    <form action="{{ url_for('like')}}"  method="POST">
                                        <input type="hidden" name="name" value="{{i['track_name']}}">
                                        <input type="hidden" name="search" value="{{searching}}">
                                        <button type="submit" class="far fa-heart submit"><a style="font-size: 20px;"> {{i['num_favourite']}}</a></button>
                                    </form>
                                </div>
                            {% endif %} 
                    
                        </li>
                        <hr class="line">
                    </ul>
                {% endfor %}

            </div>
        {% endif %}

    </div>
    </body>
{% endblock %}