{% extends 'base.html' %}
<!doctype html>
{% block content %}

    <body class="login-page">
    <div class="row" id="loginbox">
        <div class="col-2" id="greybg">
        </div>
        <div class="col-8" id="head">
            <a id="headregist">Login</a>
            <br>
            <a style="font-size: 20px;">Please login your account!</a>
            <div id="registbox">
                {% if error %}
                    <div>
                        {{ error }}
                    </div>
                {% endif %}
                <form action="" method="POST" name="form">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="username" class="login-header">Username</label>
                        <input type="text" class="form-control login-blanket" placeholder="username" name="username"
                               id="username">
                    </div>

                    <div class="form-group">
                        <label for="password" class="login-header">Password</label>
                        <input type="password" class="form-control login-blanket" placeholder="password" name="password"
                               id="password">
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark login-page-button" id="confirmbutton">
                            Comfirm
                        </button>
                        <button onclick="location.href='{{ url_for('registration') }}'" type="button"
                                class="btn btn-outline-dark login-page-button" id="registrationbutton"
                                data-placement="top" title="Regist a new account">Registration
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2" id="greybg">
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}