{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}

    <title>My Playlist</title>
<body class="playlist-page">
            <div class="row">
                <div class="col-2" id="greybg">
                </div>
                <div class="col-8">            
                    <div class="container" id="head">
                    <a class="head" id="title">Playlist</a>
                    </div>
                    <div class="row" id="playlistlist">
                        <div class="formgroup">
                                <i class="fas fa-play-circle" id="playbutton"></i>
                                <img src="/app/static/image/test1.jpg" id="pic">
                                <a id="songname">La vie en rose</a>
                        </div>
                    </div>
                    <br>

                    <div class="row" id="playlistlist">
                            <div class="formgroup">
                                    <i class="fas fa-play-circle" id="playbutton"></i>
                                    <img src="/app/static/image/test1.jpg" id="pic">
                                    <a id="songname">La vie en rose</a>
                            </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="/app/static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="/app/static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                    </div>
                    <br>

                    <div class="row" id="playlistlist">
                            <div class="formgroup">
                                    <i class="fas fa-play-circle" id="playbutton"></i>
                                    <img src="/app/static/image/test1.jpg" id="pic">
                                    <a id="songname">La vie en rose</a>
                            </div>
                        </div>
                        <br>

                    <div class="row" id="playlistlist">
                                <div class="formgroup">
                                        <i class="fas fa-play-circle" id="playbutton"></i>
                                        <img src="/app/static/image/test1.jpg" id="pic">
                                        <a id="songname">La vie en rose</a>
                                </div>
                        </div>
                        <br>
                </div>
                <div class="col-2" id="greybg">
                </div>
            </div>

    
</body>
{% endblock %}