{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}

<title>My Playlist</title>

<body>
        <div class="container" id="playlist-content">
                <h1 id="playlist-header">Playlist</h1>
                <hr class="line">
                <hr class="line">
                <div class="row playlist-table-header">
                        <div class="col-2">
                                Albums
                        </div>
                        <div class="col-4 playlist-title ">
                                Title
                        </div>
                        <div class="col-2">Artist</div>
                        <div class="col-2 play-header">Play music
                        </div>
                        <div class="col-2 remove-header">remove</div>
                </div>
                <br>
                <ul class="playlist-list">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                        <li class="row playlist-item">
                                <div class="col-1">
                                        <img src="/app/static/image/test1.jpg" class="playlist-image" alt="">
                                </div>
                                <div class="col-2 chart-namesong">
                                        <a href="{{ url_for('song_detail') }}">
                                                <div class="chart-namesong"> LA VIE EN ROSE</div>
                                        </a>
                                </div>
                                <div class="col-2 playlist-artist">IZ*ONE</div>
                                <div class="col-2 chart-playicon playlist-play"><i class="fas fa-play play-icon2"></i>
                                </div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>

                        </li>
                        <hr class="line">
                </ul>
        </div>




</body>
{% endblock %}