{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}

<title>My Playlist</title>

<body>
        <div class="container" id="playlist-content">
                <h1 id="playlist-header">Playlist</h1>
                <hr class="line">
                <hr class="line">
                <div class="row playlist-table-header">
                        <div class="col-2">
                                Albums
                        </div>
                        <div class="col-4 playlist-title ">
                                Title
                        </div>
                        <div class="col-2">Artist</div>
                        <div class="col-2 play-header">Play music
                        </div>
                        <div class="col-2 remove-header">remove</div>
                </div>
                <br>
                <ul class="playlist-list">
                        {% for i in track %}
                        <li class="row playlist-item">
                                <div class="col-2">
                                        <img src="{{ i['url_img'] }}" class="playlist-image" alt="">
                                </div>
                                <div class="col-4 chart-namesong">
                                        <form action="{{ url_for('song_detail')}}" method="POST">
                                                <input type="hidden" name="name" value="{{i['track_name']}}"></input>
                                                <input type="hidden" name="rank" value="1"></input>
                                                <input class="chart-namesong namesong-submit submit" type="submit" value="{{i['track_name']}}"></input>
                                        </form>
                                </div>
                                <div class="col-2 playlist-artist">{{i['artist_name']}}</div>
                                <div class="col-2 chart-playicon"><a href="{{i['music_url']}}" target="_blank"><i
                                        class="fas fa-play play-icon2"></i></a></div>
                                <div class="col-2 remove-icon"><i class="fas fa-times"></i></div>
                        </li>
                        <hr class="line">
                        {% endfor %}
                </ul>
        </div>
</body>
{% endblock %}