{% extends 'base.html' %}
<!doctype html> {% block content %}
    <title>Sign up</title>

    <body>
    <div class="regist-page-content">
        <div class="container regist-content">
            <h1 id="regist-main-header">Sign Up</h1>
            <br>
            <a style="    font-size: 1.8rem;
            opacity: 0.7;">Create your account!</a>

            <div id="regist-box">
                <form method="POST" action="{{ url_for('registration') }}" >
                    <div class="form-group">
                        <label class="regist-header" for="formGroupExampleInput">Display name</label>
                        <input type="text" class="form-control regist-blanket" placeholder="Name"
                               id="formGroupExampleInput" name="display_name" required>
                    </div>
                    <div class="form-group">
                        <label class="regist-header" for="formGroupExampleInput">Username</label>
                        <input type="text" class="form-control regist-blanket" placeholder="Username"
                               id="formGroupExampleInput" name="username" required> 
                    </div>
                    <div class="form-group">
                        <label class="regist-header" for="formGroupExampleInput2">Password</label>
                        <input type="password" class="form-control regist-blanket" placeholder="Password"
                               id="formGroupExampleInput2" name="password" required>
                    </div>

                    <div class="regist-button">
                        <button type="submit" class="btn btn-outline-dark" id="regis-signup-btn">Sign Up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}