{% extends 'base.html' %}
<!doctype html>

<title>Information</title>
{% block content %}
    <body>

<div class="detail-page-content">
    <div class="container" id="song-content">
            <h1 class="song-header">DALLA DALLA</h1>
            <h2 class="song-artist song-artist">Artist: Itzy</h2>
            <hr class="detail-line">
            <div class="row">
                <div class="col-4 song-image-box">
                    <img class="song-image" src="https://is4-ssl.mzstatic.com/image/thumb/Music113/v4/e8/38/6e/e8386eba-d3d1-14c3-28b8-aa8d79176119/source/625x625.jpg" alt="imagesong">
                <div class="song-num-of-likes">Likes:</div>
            </div>
            <div class="col-1"></div>
            <div class="col-6 song-detail-box">
                <h3 class="song-genre song-detail">Genre: K-POP</h3>
                <h3 class="song-release song-detail">Release Date: </h3>
                <h3 class="song-rank song-detail">Rank: 1</h3>
                <h3 class="song-albms song-detail">Albums: </h3>
            </div>
            </div>
            

        

        <div class="row song-allicon">
            <div class="col-5">
                <a href="{{ url_for('home') }}">
                     <i class="fas fa-arrow-left song-backarrow"></i>
                </a>
            </div>
            <div class="col-1">
                <i class="fas fa-plus song-addicon"></i>
            </div>
            <div class="col-2">
                <i class="far fa-heart song-fav-icon"></i>
            </div>
            <div class="col-2"></div>

        </div>

    </div>

</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>


{% endblock %}